// fonts
* {
  color: #fff ;
}

//colors
$link-hover: #b9b9b9;
$copy-color: #555252;
$table-link: #d8d8d8;

// spacing
$padding-fixo: 1.3rem 0;
$padding-btn: 1rem 2.2rem;

$shadow-text: 0 5px 10px #b9b9b9,
0 10px 10px rgba(0,0,0,0.15),
0 15px 15px rgba(0,0,0,0.1),
0 20px 20px rgba(0,0,0,0.1);

