@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  color: #fff;
}

* {
  color: #fff;
}

body {
  scroll-behavior: smooth;
}

.header {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header #header_link {
  color: #fff;
}
.header #header_link:hover {
  color: #b9b9b9;
  transition: ease 0.3s;
}

.container00 {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#button {
  padding: 1rem 2.2rem;
}

.arrowDown {
  display: inline-block;
  width: 7rem;
  margin-top: 8rem;
  transition-delay: 0.8s;
}

.logoPc {
  width: 15rem;
  margin-left: -0.625rem;
}

.footer {
  background-color: #000;
  height: 15vh;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}
.footer span {
  color: #555252;
}
.footer .link {
  color: #fff;
}
.footer .link:hover {
  color: #b9b9b9;
  transition: ease 0.3s;
}

@media (max-width: 425px) {
  .logoPc {
    width: 11.25rem;
    margin-top: 1rem;
    margin-left: 0;
  }
  .footer {
    font-size: 0.625rem;
  }
}
@media (max-width: 320px) {
  .logoPc {
    width: 9.375rem;
    margin-top: 1rem;
    margin-left: 0;
  }
}
.container00.container01 {
  background-image: url(../assets/img/home/01.jpg);
}
.container00.container02 {
  background-image: url(../assets/img/home/02.gif);
}
.container00.container03 {
  background-image: url(../assets/img/home/03.jpg);
}
.container00.container04 {
  background-image: url(../assets/img/home/04.jpg);
}

.short-title {
  width: 35rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.563rem;
}

.mediem-title {
  width: 40rem;
  margin-bottom: 1.563rem;
}

.title-padding {
  padding-top: 13rem;
}

@media (max-width: 750px) {
  .title-padding {
    padding-top: 7.5rem;
  }
  .short-title,
  .mediem-title {
    width: auto;
    font-size: 3.125rem;
  }
}
@media (max-width: 350px) {
  .short-title,
  .mediem-title {
    width: auto;
    font-size: 2.25rem;
  }
}
.container00.container05 {
  background-image: url(../assets/img/falcon9/01.jpg);
}
.container00.container05 .title_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  width: 100%;
}
.container00.container05 .title_content .title_falcon {
  font-family: "Rubik", sans;
  font-size: 5.625rem;
  font-weight: 500;
  text-shadow: 0px 5px 10px #b2a98f, 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.container00.container05 .title_content .subtitle_falcon {
  font-size: 1.25rem;
  text-shadow: 0px 5px 10px #b2a98f, 0px 10px 10px rgba(0, 0, 0, 0.15), 0px 15px 15px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.container00.container06 {
  background-image: url(../assets/img/falcon9/02.jpg);
}
.container00.container06 .falcon_description {
  width: 48rem;
  line-height: 3.125rem;
  font-size: 1.4rem;
}
.container00.carrosel01 {
  background-image: url(../assets/img/falcon9/03.jpg);
}
.container00.carrosel02 {
  background-image: url(../assets/img/falcon9/04.jpg);
}
.container00.carrosel03 {
  background-image: url(../assets/img/falcon9/05.jpg);
}
.container00.carrosel04 {
  background-image: url(../assets/img/falcon9/06.jpg);
}
.container00.carrosel05 {
  background-image: url(../assets/img/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../assets/img/falcon9/08.jpg);
}
.container00.container08 {
  padding: 0;
}

.numbers {
  height: 50vh;
  flex-wrap: wrap;
}
.numbers .title_number {
  font-size: 5.625rem;
  font-weight: 500;
}
.numbers .subtitle_number {
  font-size: 1.125rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.table {
  --bs-table-bg: transparent!important;
  --bs-table-color: #fff!important;
}

#overviewPosition {
  width: 31.25rem;
  margin-left: 13%;
  padding-top: 15%;
}

.carroselSlide img {
  height: 100vh;
}

.download_description {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.download_description a {
  text-decoration: none;
  color: #555252;
}
.download_description a:hover {
  color: #b9b9b9;
  transition: ease 0.3s;
}

@media (max-width: 768px) {
  .title_falcon {
    font-size: 4rem !important;
  }
  .subtitle_falcon {
    font-size: 1.13rem !important;
  }
  .title_number {
    font-size: 3.5rem !important;
  }
  .subtitle_number {
    font-size: 1rem !important;
  }
  .falcon_description {
    width: auto !important;
    line-height: 2rem !important;
    font-size: 1.2rem !important;
    margin: 0 auto !important;
    padding-top: 25%;
  }
  #overviewPosition {
    padding-top: 25%;
  }
}
@media (max-width: 590px) {
  #overviewPosition {
    width: 28rem !important;
    margin: 0 auto;
    margin-left: auto;
    padding: 0;
  }
  #overviewPosition #titleOverview {
    max-width: max-content;
    padding-inline: 0.3125rem;
  }
  .numbers {
    height: 60vh;
    flex-wrap: wrap;
  }
}
@media (max-width: 520px) {
  .title_falcon {
    font-size: 3rem !important;
  }
  .subtitle_falcon {
    font-size: 1rem !important;
  }
  .title_number {
    font-size: 2.5rem !important;
  }
  .subtitle_number {
    font-size: 0.9rem !important;
    width: auto;
    margin: 0 auto;
  }
  p {
    font-size: 1rem;
  }
  #overviewPosition {
    width: max-content !important;
    padding-top: 30%;
  }
  #overviewPosition .subtitleOverview, #overviewPosition .titleOverview {
    width: max-content;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  #widthTable {
    width: auto;
    margin: 0 auto;
    font-size: 0.9rem;
  }
  #overviewPosition p {
    width: 20rem;
    margin: 0 auto;
  }
  .merlin__description {
    width: 20rem;
    padding-bottom: 1rem;
  }
  .download_description button {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 350px) {
  #overviewPosition {
    width: max-content !important;
    padding-top: 30%;
  }
  #overviewPosition .subtitleOverview, #overviewPosition .titleOverview {
    width: max-content;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  #overviewPosition #widthTable {
    width: auto;
    margin: 0 auto;
    font-size: 0.7rem;
  }
  #overviewPosition .merlin__description {
    width: 18rem;
    padding-bottom: 1rem;
  }
}
.container00.container09 {
  background-image: url(../assets/img/humanFlight/01.jpg);
}
.container00.container09 .container01Content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container00.container09 .container01Content h1 {
  font-size: 7.5rem;
  font-weight: 500;
}
.container00.container09 .container01Content p {
  font-size: 1.875rem;
  font-weight: 300;
}
.container00.container10 {
  background-image: url(../assets/img/humanFlight/02.jpg);
}
.container00.container11 {
  background-image: url(../assets/img/humanFlight/03.jpg);
}
.container00.container12 {
  background-image: url(../assets/img/humanFlight/04.jpg);
}
.container00.container13 {
  background-image: url(../assets/img/humanFlight/05.jpg);
}

.earth__description {
  height: 25vh;
}
.earth__description p {
  width: 50rem;
  font-size: 1.25rem;
}
.earth__description a {
  text-decoration: none;
  color: #d8d8d8;
}
.earth__description a:hover {
  color: #fff;
  transition: ease 0.3s;
}

.titleSection {
  font-size: 3.75rem;
}

@media (max-width: 768px) {
  .contentTitle {
    font-size: 5rem !important;
  }
  .contentSubtitle {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 520px) {
  .contentTitle {
    font-size: 4rem !important;
  }
  .contentSubtitle {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 420px) {
  .contentTitle {
    font-size: 3rem !important;
  }
  .contentSubtitle {
    font-size: 1rem !important;
  }
  .earth__description {
    height: 20vh;
  }
  .earth__description p {
    width: 25rem;
    margin-top: 2rem;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
