#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#dishes {
  width: 100%;;
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 1.125rem;
  width: 25%;
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.dish-heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-logo);
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  border-radius: 0 38px 0 43px;
  color: var(--white);
  right: -10px;
  top: -10px;
}

.dish-description {
  color: var(--color-links);
  text-align: center;
}

.dish-rate {
  color: var(--color-logo);
}

.dish-price {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  #dishes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dish {
    width: calc(50% - 1.125rem);
  }
}

@media screen and (max-width: 620px) {
  .dish {
    width: 100%;
  }
  #menu .section-subtitle {
    text-align: center;
  }
}