.info2 {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding-inline: 2rem;
}

.info2-wrapper {
  display: flex;
  gap: 3rem;
}

.info2--flex1 {
  flex: 1;
}

.info2__img {
  width: 100%;
  max-width: 450px;
}

.info2--img {
  order: 1;
}

.info2__btn {
  color: #2eb1a3;
  font-weight: 600;
  font-size: 1.125rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.info2__btn-icon {
  width: 1.35rem;
  align-self: center;
}

.info2__btn::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid;
  bottom: -0.25rem;
  width: 100%;
}

@media (width < 1024px) {
  .info2-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .info2-img {
    order: 0;
  }
}